
*{
    margin:0px;
    padding: 0px;
}


html{
    font-family: 'raleway';
    font-size: medium;
    font-style: normal;
}
#contenedor{
    width:85%;
    margin-left: auto;
    margin-right:auto;
    
}

.header{
    background-color: #3573d6;
    color: white;
    height: 50px;
    margin-top: 15px;
}
.logo{
   text-transform: uppercase;
   
}
.logo a{
    text-decoration: none;
    color: white;
    
}
.navbar{
    background-color: #1f3354;
    margin-top: 5px;
}

.menu li{
    display: inline-block;
    
    
}

.menu li a{
    padding: 100px;
    color:white;
    text-decoration: none;
    
}

.tabla{
    width:100%;
    height:500px;

}
.td{
    
    
    
    
}
.celda{
    
    border: #666666 12px solid;
    border-bottom: #666666 5px solid; 
    width:70%;
}

.banner{
    background-color: #aaaaaa;
    border-left: 20px;
    width:10%;
    text-align: center;
    
}
.otrasnoticias li{
    width:40%;
    display: inline-block;
    margin-left:20px;
   
}

.pie{
    background-color: #94b4e7;
    color:white;
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: -1px;
}

.cuadro2 h4{
    margin-top: 10px;
    font-weight: bold;
}